.planetdetails-Solen {
    /* background-color: yellow; */
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: radial-gradient(50% 100% at -10% 50%, #f0bb0fFF 48%, #3068D000 57%);
    min-width: 100%;
    min-height: 100vh;

}

.planetdetails-Merkurius {
    /* background-color: rgb(160, 160, 160); */
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: radial-gradient(50% 100% at -10% 50%, #85807dFF 48%, #3068D000 57%);
    min-width: 100%;
    min-height: 100vh;


}

.planetdetails-Venus {
    /* background-color: rgb(207, 153, 153); */
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: radial-gradient(50% 100% at -10% 50%, #f7945aFF 48%, #3068D000 57%);
    min-width: 100%;
    min-height: 100vh;

}

.planetdetails-Jorden {
    /* background-color: rgb(23, 151, 255); */
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: radial-gradient(50% 100% at -10% 50%, #2564D4FF 48%, #3068D000 57%);
    min-width: 100%;
    min-height: 100vh;

}

.planetdetails-Mars {
    /* background-color: rgb(231, 49, 49); */
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: radial-gradient(50% 100% at -10% 50%, #e24f14FF 48%, #3068D000 57%);
    min-width: 100%;
    min-height: 100vh;

}

.planetdetails-Jupiter {
    /* background-color: rgb(227, 106, 25); */
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: radial-gradient(50% 100% at -10% 50%, #d48253 48%, #3068D000 57%);
    min-width: 100%;
    min-height: 100vh;

}

.planetdetails-Saturnus {
    /* background-color: rgb(177, 145, 84); */
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: radial-gradient(50% 100% at -10% 50%, #aa9068 48%, #3068D000 57%);
    min-width: 100%;
    min-height: 100vh;

}

.planetdetails-Uranus {
    /* background-color: rgb(134, 162, 179); */
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: radial-gradient(50% 100% at -10% 50%, #4975a7 48%, #3068D000 57%);
    min-width: 100%;
    min-height: 100vh;

}

.planetdetails-Neptunus {
    /* background-color: rgb(63, 99, 119); */
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: radial-gradient(50% 100% at -10% 50%, #29517e 48%, #3068D000 57%);
    min-width: 100%;
    min-height: 100vh;

}

.planetdetailsbackground {
    background-color: #090931;
    background-image: url("./src/assets/star-transparent.png");
    background-size: contain;
    min-width: 100%;
    min-height: 100vh;
}

h1.text {
    font-size: xx-large;
    color: #dcdcdc;
    margin-bottom: 1rem;
    text-align: left;
}

h2.text {
    font-size: x-large;
    color: #918021;
    margin-bottom: 1rem;
    text-align: left;
}

h3.text {
    margin-left: 0.5rem;
    font-size: large;
    color: #dcdcdc;
    margin-top: 1rem;
}

p {
    margin: 0.5rem;
    justify-content: start;
}

.moons {
    text-align: start;
}

.infobox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;

    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left; */
}

.info-box-btn{
    display: flex;
    justify-content: space-between;
}

.planetinfo {
    color: #dcdcdc;
    padding-top: 2.5rem;
    margin: auto;
    max-width: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.planetinfo {
    color: #dcdcdc;
    padding-top: 6rem;
    padding-left: 22rem;
    padding-right: 20rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.btn{
    border-color: rgb(214, 214, 214);
    color: azure;
    background-color: #090931;
    padding: 1rem 1.2rem;
    border-radius: 10px;
}
.btn:hover{
    background-color: #515151;
}