.planet-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4%;
    padding: .5rem;
}

.header-nav{
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
}

.header-text {
    font-size: xx-large;
    color: rgb(220, 220, 220);
    max-width: max-content;
}

.link-tagg{
    text-decoration: none;
    width: max-content;
    color: #d1d1cc;
}

.link-text{
    width: max-content;
    position: absolute;
    right: 1rem;
}

.backgrund {
    /* background-color: rgb(36, 36, 36); */
    background-image: url("./src/assets/star-transparent.png");
    background-color: #090931;
    width: 100%;
    padding: 1rem;
    background-size: contain;
    min-width: 100%;
    min-height: 100vh;
}

.btn{
    border-color: rgb(214, 214, 214);
    color: azure;
    background-color: #090931;
    padding: 1rem 1.2rem;
    border-radius: 10px;
}
.btn:hover{
    background-color: #515151;
}