.favorite-page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.favorite-test{
    display: inline-block;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
}
fieldset{
    margin: 1rem;
    padding: 1rem;
}